variables:
    PDC_BUILD_PATH: "${CI_PROJECT_DIR}/build"
    PDC_INSTALL_PATH: "${CI_PROJECT_DIR}/install"
    
stages:
    - build
    - test
    - metrics

perlmutter-build:
    stage: build
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
    script:
        - module load libfabric/1.15.2.0
        - module list
        - mkdir -p ${PDC_BUILD_PATH}/perlmutter
        - cd ${PDC_BUILD_PATH}/perlmutter
        - cmake ../.. -DBUILD_MPI_TESTING=ON -DBUILD_SHARED_LIBS=ON -DPDC_SERVER_CACHE=ON -DBUILD_TESTING=ON -DCMAKE_INSTALL_PREFIX=$PDC_DIR -DPDC_ENABLE_MPI=ON -DMERCURY_DIR=$MERCURY_DIR -DCMAKE_C_COMPILER=mpicc -DMPI_RUN_CMD="srun -A m2621 --qos=debug --constraint=cpu --tasks-per-node=64" -DCMAKE_INSTALL_PREFIX=${PDC_INSTALL_PATH}/perlmutter
        - make -j
        - make install
    artifacts:
        paths:
            - ${PDC_BUILD_PATH}/perlmutter
            - ${PDC_INSTALL_PATH}/perlmutter

perlmutter-parallel-pdc:
    stage: test
    needs:
        - perlmutter-build
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-pdc"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-pdc"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_pdc
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-parallel-obj:
    stage: test
    needs:
        - perlmutter-build
        - perlmutter-parallel-pdc
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-obj"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-obj"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_obj
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-parallel-cont:
    stage: test
    needs:
        - perlmutter-build
        - perlmutter-parallel-pdc
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-cont"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-cont"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_cont
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-parallel-prop:
    stage: test
    needs:
        - perlmutter-build
        - perlmutter-parallel-pdc
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-prop"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-prop"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_prop
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-parallel-region:
    stage: test
    needs:
        - perlmutter-build
        - perlmutter-parallel-pdc
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-region"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-region"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_region_transfer
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-parallel-region-all:
    stage: test
    needs:
        - perlmutter-build
        - perlmutter-parallel-pdc
    tags:
        - perlmutter
    variables:
        SCHEDULER_PARAMETERS: "-A m1248 --qos=debug --constraint=cpu --tasks-per-node=64 -N 1 -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-paralell-region-all"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-paralell-region-all"
    script:        
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - ctest -L parallel_region_transfer_all
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}

perlmutter-metrics:
    stage: metrics
    needs:
        - perlmutter-build
    tags:
        - perlmutter
    variables:
        PDC_N_NODES: 64
        PDC_N_CLIENTS: 127
        SCHEDULER_PARAMETERS: "-A m1248 --qos=regular --constraint=cpu --tasks-per-node=${PDC_N_CLIENTS} -N ${PDC_N_NODES} -t 00:30:00"
        SUPERCOMPUTER: "perlmutter"
        MERCURY_DIR: "/global/cfs/cdirs/m1248/pdc-perlmutter/mercury/install"
        PDC_TMPDIR: "${PDC_BUILD_PATH}/pdc-tmp-metrics"
        PDC_DATA_LOC: "${PDC_BUILD_PATH}/pdc-data-metrics"
        PDC_CLIENT_LOOKUP: "NONE"
        PDC_SERVER: "${PDC_BUILD_PATH}/perlmutter/bin/pdc_server.exe"
        PDC_SERVER_CLOSE: "${PDC_BUILD_PATH}/perlmutter/bin/close_server"
        PDC_CLIENT: "${PDC_BUILD_PATH}/perlmutter/bin/vpicio_mts"
        PDC_JOB_OUTPUT: "pdc-metrics.log"
    script: 
        - hostname
        - echo "JOBID: ${SLURM_JOB_ID}"
        - export NERSC_HOST=`cat /etc/clustername`
        - module load python
        - export LD_LIBRARY_PATH="$MERCURY_DIR/lib:$LD_LIBRARY_PATH"
        - cd ${PDC_BUILD_PATH}/perlmutter
        - let TOTAL_PROCESSES=$PDC_N_CLIENTS*$PDC_N_NODES
        - echo "Starting PDC servers..."
        - srun --cpu_bind=cores -u -o ${PDC_JOB_OUTPUT} --open-mode=append -N ${PDC_N_NODES} -n ${PDC_N_NODES} -c 1 ${PDC_SERVER} &
        - echo "Starting application..."
        - srun --cpu_bind=cores -u -o ${PDC_JOB_OUTPUT} --open-mode=append -N ${PDC_N_NODES} -n ${TOTAL_PROCESSES} -c 1 ${PDC_CLIENT} 8388608 5 20
        - echo "Closing PDC servers..."
        - srun --cpu_bind=cores -u -o ${PDC_JOB_OUTPUT} --open-mode=append -N ${PDC_N_NODES} -n ${PDC_N_NODES} -c 1 ${PDC_SERVER_CLOSE}
        - echo "Installing dependencies..."
        - pip install pydrive gspread gspread-dataframe google
        - echo "Storing PDC metrics..."
        - python3 ../../.github/workflows/store-metrics.py Perlmutter ${PDC_JOB_OUTPUT} `git branch --show-current` $SLURM_JOB_ID
        - echo "Removing files..."
        - rm -rf ${PDC_TMPDIR} ${PDC_DATA_LOC}
